* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
	height: 100%;
	background: rgba(255, 140, 0, 0.705);
}

footer {
	width: 100%;
	height: 100%;
	padding-top: 1em;
	display: flex;
	justify-content: space-between;
}

footer a {
	color: black;
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.matalogue {
	width: 100%;
	height: 100%;
	text-align: center;
	border: 2px solid black;
	box-shadow: 10px 10px rgb(255, 140, 0);
	padding: 1em;
}

.stepRow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 1em 0.5em;
}

.stepRow input[type=text],
.stepRow input[type=date] {
	margin: 0 0.5em;
}

.stepBtn {
	padding: 0.5em 1em;
	margin:0.25em;
	cursor: pointer;
	background: white;
	border: 2px solid black;
	border-radius: 5%;
}

.stepBtn:hover {
	transform: scale(0.9);
	box-shadow: 1px 1px rgb(255, 140, 0);
}

.waiting{
	filter: blur(2px);
}

.step2EditPanel,
.articles  {
	margin: 1em;
	padding: 0.5em;
}


.step2EditPanel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.step2EditSet + .step2EditSet {
	margin:0 1em;
}

.articles {
	text-align: left;
	overflow: auto;
	max-width:750px;
	max-height: 400px;
}


/*From w3school */
.shake{
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}